.form {
  &__link {
    font-weight: bolder;
    font-size: 18px;
    color: #999999;
    &--right {
      float: right;
      font-weight: bolder;
      font-size: 18px;
      color: #999999;
    }
  }
}
