.form {
    &__button {
        &--submit {
            margin-top: 10px;
            outline: none;
            border-radius: 7px;
            border: none;
            font-size: 28px;
            font-family: $font-family;
            font-weight: bolder;
            color: white;
            background-color: #324750;
            width: 720px;
            height: 64px;
            cursor: pointer;
            transition: 0.1s;
            &:hover {
                transition: 0.1s;
                opacity: 0.8;
            }
        }
    }
}
