.form {
  &__nav {
      &--binder-list {
          display: grid;
          grid-template-columns: 768px 1fr;
          border-bottom: 1px solid #b8b8b8;
      }
  }
  &__tab {
    width: 192px;
    height: 100%;
    padding: 0;
    background-color: white;
    &:hover {
        background-color: #666666;
        opacity: 80%;
        cursor: pointer;
    }
    &--selected {
        width: 192px;
        height: 100%;
        padding-left: 0;
        background-color: #999999;
    }
    &-wrapper {
        padding: 0;
        display: flex;
        margin: 0;
        height: 32px;
        list-style: none;
    }
    &-text {
        font-family: $font-family;
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        padding-left: 8px;
        line-height: 32px;
    }
    &-search {
        box-sizing: border-box;
        padding-top: 2px;
        padding-bottom: 0;
        border: none;
        background: transparent;
        float: right;
        line-height: 30px;
        font-size: 18px;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: #b8b8b8;
            line-height: 30px;
        }
    }
}

}