/* var@global */
$header-height: 48px;
$navbar-height: 64px;
$font-size: 20px;
$font-family: Calibri;

html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.header {
    position: relative;
    z-index: 8;
    width: 100%;
    height: $header-height;
    background-color: #324750;
    &__logo {
        position: relative;
        height: 100%;
        width: 200px;
        margin-left: 4px;
        &-image {
            top: 50%;
            left: 10%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
        &-title {
            font-family: $font-family;
            font-weight: bold;
            font-style: italic;
            position: absolute;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -51%);
            margin: 0;
        }
    }
}

.nav {
    position: relative;
    z-index: 6;
    width: 100%;
    height: $navbar-height;
    background-color: #ffffff;
    &__button {
        fill: #324750;
        padding: 0;
        border: none;
        height: $navbar-height;
        width: $navbar-height;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
}

%form-base {
    margin: 0 auto;
    padding-top: 48px;
}

.form {
    &--signup {
        @extend %form-base;
        width: 720px;
        height: 720px;
    }

    &--signin {
        @extend %form-base;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        width: 1080px;
    }

    &--binder-list {
        @extend %form-base;
        display: grid;
        width: 1400px;
    }

    &--create-binder {
        @extend %form-base;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        width: 1120px;
    }

    &__nav {
        &--binder-list {
            display: grid;
            grid-template-columns: 768px 1fr;
            border-bottom: 1px solid #b8b8b8;
        }
    }
    &__title {
        /* var@form__title */
        $heighe: 48px;

        grid-row: 1 / 2;
        grid-column: 1 / 3;
        height: $heighe;
        padding-bottom: 8px;
        border-bottom: 2px solid #324750;
        > h2 {
            grid-column: 1/2;
            margin: 0;
            font-weight: normal;
            font-style: italic;
            font-family: $font-family;
            font-size: $heighe;
            height: 100%;
            line-height: $heighe;
            > img {
                vertical-align: middle;
            }
        }
        &-button {
            padding:0;
            outline: none;
            border-radius: 7px;
            border: none;
            font-size: 28px;
            font-family: $font-family;
            font-weight: bolder;
            color: white;
            float: right;
            background-color: #324750;
            width: 200px;
            height: 100%;
        }
        &--binder-list {
            display: grid;
            grid-template-columns: 900px 1fr;
            height: $heighe;
            padding-bottom: 8px;
            border-bottom: 2px solid #324750;
            > h2 {
                margin: 0;
                font-weight: normal;
                font-style: italic;
                font-family: $font-family;
                font-size: $heighe;
                height: 100%;
                line-height: $heighe;
                > img {
                    vertical-align: middle;
                }
            }
        }
    }
    &__wrapper {
        &--signup {
            width: 720px;
            margin-top: 8px;
            margin-bottom: 16px;
            display: grid;
            grid-gap: 8px;
        }
        &--signin,
        &--create-binder-left {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            width: 720px;
            margin-top: 8px;
            margin-bottom: 16px;
            display: grid;
            grid-gap: 8px;
            padding-right: 16px;
            border-right: 2px solid #b8b8b8;
        }
        &--create-binder-right {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            width: 400px;
            margin-top: 8px;
            margin-bottom: 16px;
            display: grid;
            grid-gap: 8px;
            padding-left: 16px;
        }
    }
    &__label {
        font-family: $font-family;
        font-size: 20px;
        line-height: 16px;
        margin-top: 8px;
        //width: 720px;
    }
    &__text {
        text-indent: 0.4em;
        outline: none;
        font-size: 28px;
        font-family: $font-family;
        padding: 0;
        box-sizing: border-box;
        border: 2px solid #b8b8b8;
        border-radius: 4px;
        width: 720px;
        height: 56px;
        &::placeholder {
            color: rgb(207, 207, 207);
        }
    }
    &__text-area {
        outline: none;
        font-size: 28px;
        font-family: $font-family;
        box-sizing: border-box;
        border: 2px solid #b8b8b8;
        border-radius: 4px;
        width: 720px;
        height: 400px;
        resize: none;
        &::placeholder {
            color: rgb(207, 207, 207);
        }
    }
    &__checkbox {
        > label {
            font-family: $font-family;
            font-size: 16px;
            > input {
                height: 24px;
                margin-right: 8px;
                margin-top: 0;
                margin-bottom: 0;
                vertical-align: middle;
            }
        }
    }
    &__button {
        &--submit {
            margin-top: 10px;
            outline: none;
            border-radius: 7px;
            border: none;
            font-size: 28px;
            font-family: $font-family;
            font-weight: bolder;
            color: white;
            background-color: #324750;
            width: 720px;
            height: 64px;
        }
        &--add-label {
            height: 56px;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #b8b8b8;
            border-radius: 4px;
            margin-right: 16px;
            text-align: center;
            > svg {
                vertical-align: middle;
                opacity: 30%;
            }
        }
    }
    &__link {
        font-family: $font-family;
        font-weight: bolder;
        font-size: 18px;
        color: #999999;
        &--right {
            float: right;
            font-family: $font-family;
            font-weight: bolder;
            font-size: 18px;
            color: #999999;
        }
    }
    &__error-message {
        font-family: $font-family;
        font-size: 16px;
        color: red;
        float: right;
    }

    &__social-signin{
        margin-left: 16px;
        display: grid;
        > img {
            margin-top: 16px;
            height: 64px;
            width: 100%;
        }
    }

    &__label-setting {
        display: grid;
        grid-template-columns: auto;
        margin: 16px;
    }

    &__label-list {
        box-sizing: border-box;
        border-top: 2px dashed #b8b8b8;
        border-left: 2px dashed #b8b8b8;
        border-bottom: 2px dashed #b8b8b8;
        border-radius: 4px;
        height: 516px;
    }

    &__tab {
        width: 192px;
        height: 100%;
        padding: 0;
        background-color: white;
        &:hover {
            background-color: #666666;
            opacity: 80%;
            cursor: pointer;
        }
        &--selected {
            width: 192px;
            height: 100%;
            padding-left: 0;
            background-color: #999999;
        }
        &-wrapper {
            padding: 0;
            display: flex;
            margin: 0;
            height: 32px;
            list-style: none;
        }
        &-text {
            font-family: $font-family;
            font-size: 20px;
            font-weight: normal;
            margin: 0;
            padding-left: 8px;
            line-height: 32px;
        }
        &-search {
            box-sizing: border-box;
            padding-top: 2px;
            padding-bottom: 0;
            border: none;
            background: transparent;
            float: right;
            line-height: 30px;
            font-size: 18px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #b8b8b8;
                line-height: 30px;
            }
        }
    }
    &__binder-card {
        display: grid;
        grid-template-columns: 928px 408px 64fr;
        height: 64px;
        background-color: white;
        &-wrapper {
            display: grid;
            grid-auto-rows: 64px;
            grid-row-gap: 16px;
            width: 100%;
            height: 400px;
            margin-top: 16px;
        }
    }
}

%binder-card__info--base {
    display: grid;
    height: 64px;
    grid-template-columns: 64px 648px 1fr;
    grid-template-rows: 32px 32px;
    box-sizing: border-box;
    border: 2px solid #b8b8b8;
    border-radius: 4px;
    margin-right: 16px;
}

.binder-card {
    &__info {
        &--own {
            @extend %binder-card__info--base;
            border-left: 4px solid #0E6464;
        }
        &--participated {
            @extend %binder-card__info--base;
            border-left: 4px solid #F64E8B;
        }
        &--favorite {
            @extend %binder-card__info--base;
            border-left: 4px solid #F6C90E;
        }
        &-thumbnail {
            grid-column: 1/2;
            grid-row: 1/3;
            width: 56px;
            height: 56px;
            object-fit: cover;
            box-sizing: border-box;
            border: 1px solid #b8b8b8;
            border-radius: 4px;
            margin-top: 2px;
            margin-left: 2px;
        }
        &-title {
            grid-column: 2/3;
            grid-row: 1/2;
            > h3 {
                margin: 0;
                font-family: $font-family;
                line-height: 32px;
                font-weight: bold;
            }
        }
        &-description {
            grid-column: 2/3;
            grid-row: 2/3;
            > h4 {
                margin: 0;
                font-family: $font-family;
                line-height: 32px;
                font-weight: normal;
            }
        }
        &-counter {
            grid-column: 3/4;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: 64px 64px 64px;
            > div {
                color: #bfbfbf;
                > img {
                    vertical-align: middle;
                    padding-right: 4px;
                    padding-bottom: 4px;
                }
                line-height: 32px;
            }
        }
    }
    &__button {
            height: 64px;
            margin: 0;
            padding: 0;
            background: transparent;
            box-sizing: border-box;
            border: 2px solid #bfbfbf;
            border-radius: 4px;
            &-danger {
                height: 64px;
                margin: 0;
                padding: 0;
                background: transparent;
                box-sizing: border-box;
                border: 2px solid #bfbfbf;
                border-radius: 4px;
            }
    }
}

.container {
    &--signup,
    --signin,
    --binder-list {
        width: 100%;
        height: calc(100% - #{$header-height});
        background-color: white;
    }
    &--binder {
        width: 100%;
        height: calc(100% - #{$header-height} - #{$navbar-height});
        position: relative;
        z-index: 0;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 248px auto 384px;
        grid-template-areas: "left-column image-container label-container";
        width: 100%;
        height: calc(100% - #{$header-height} - #{$navbar-height});
    }
}

.left-column {
    /* var@left-column */
    $left-column-item-height: 48px;
    $search-form-height: 40px;

    &--show {
        grid-area: left-column;
        background-color: #f5f5f5;
    }
    &__search {
        position: relative;
        z-index: 6;
        width: 100%;
        height: $search-form-height;
        background-color: #ffffff;
        text-align: center;
        vertical-align: middle;
        &-form {
            background-image: "../image/icon/search-black-18dp.svg";
            position: absolute;
            box-sizing: border-box;
            border: none;
            transition: 0.3s;
            border-bottom: 1px solid #33665c;
            background: transparent;
            width: 90%;
            top: 60%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            &:focus {
                border-bottom: 1px solid #86ab40;
                outline: none;
            }
        }
    }
    &__content {
        cursor: pointer;
        overflow-y: scroll;
        display: grid;
        grid-auto-rows: 48px;
        height: calc(100% - #{$search-form-height});
    }
    &__item {
        display: grid;
        grid-template-rows: $left-column-item-height;
        grid-template-columns: $left-column-item-height 1fr;
        grid-template-areas: "image-thumbnail image-title";
        opacity: 100%;
        width: 100%;
        height: $left-column-item-height;
        border-bottom: 1px solid #cbcbcb;
        transition: all 200ms 0s ease;
        &:nth-child(odd) {
            background-color: #e4e4e4;
        }
        &:hover {
            opacity: 65%;
            transition: all 200ms 0s ease;
        }
        &-thumbnail {
            grid-area: image-thumbnail;
            //border-right: 1px solid black;
            // background-color: green;
            &-image {
                box-sizing: border-box;
                border-right: 1px solid #cbcbcb;
                border-left: 1px solid #cbcbcb;
                border-top: 0.5px solid #cbcbcb;
                border-bottom: 0.5px solid #cbcbcb;
                object-fit: cover;
                width: $left-column-item-height;
                height: $left-column-item-height;
            }
        }
        &-text {
            width: calc(100% - #{$left-column-item-height});
            height: $left-column-item-height;
            font-size: $font-size;
        }
    }
}

.image-container {
    /* var@image-container */
    $thumbnail-size: 312px;

    width: 100%;
    grid-area: image-container;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($thumbnail-size, 1fr));
    grid-auto-rows: $thumbnail-size;
    background-color: white;
    &__thumbnail {
        position: relative;
        width: $thumbnail-size;
        height: $thumbnail-size;
        align-self: center;
        justify-self: center;
        &-image {
            opacity: 75%;
            transition: all 200ms 0s ease;
            cursor: move;
            position: absolute;
            height: 90%;
            width: 90%;
            object-fit: cover;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            &:hover {
                opacity: 100%;
                transition: all 200ms 0s ease;
                box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
            }
        }
    }
}
.label-container {
    width: 100%;
    height: 100%;
    grid-area: label-container;
    //background-color: #ffffff;
    overflow-y: scroll;
    &__item {
        /* var@label-container__item */
        $item-width: 95%;
        $item-height: 48px;

        text-indent: 8px;
        box-sizing: border-box;
        border-right: solid 5px #7db4e6;
        margin-top: 8px;
        margin-left: 0;
        margin-right: auto;
        background-color: white;
        width: $item-width;
        height: $item-height;
        cursor: pointer;
        transition: all 150ms 0s ease;
        &:hover {
            transition: all 150ms 0s ease;
            text-indent: 16px;
            width: calc(#{$item-width} + 8px);
            border-right: solid 5px #86ab40;
        }
        &--selected {
            transition: all 150ms 0s ease;
            border-right: solid 5px #7db4e6;
            box-sizing: border-box;
            margin-top: 8px;
            margin-left: 0;
            margin-right: auto;
            background-color: white;
            width: calc(#{$item-width} + 8px);
            height: auto;
        }
        &-title {
            margin: 0;
            //padding-left: 8px;
            line-height: $item-height;
            font-size: $font-size;
        }
        &-description {
            display: none;
        }
        &-description--show {
            margin: 0;
            padding-left: 16px;
            line-height: calc(#{$font-size} + 2);
            font-size: calc(#{$font-size} - 4);
        }
    }
}
