$header-height: 48px;
$navbar-height: 64px;
$font-size: 20px;
$font-family: Calibri;

html,
body,
main {

  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

%form-base {
  margin: 0 auto;
  padding-top: 48px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to,
.fade-faster-enter,
.fade-faster-leave-to {
    opacity: 0;
}

.fade-faster-enter-active,
.fade-faster-leave-active {
    transition: opacity 0.3s;
}
