$header-height: 48px;
$navbar-height: 64px;
$font-size: 20px;
$font-family: Calibri;

html,
body,
main {
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

%form-base {
    margin: 0 auto;
    padding-top: 48px;
}

/* transition */
.fade {
    &-enter-active,
    &-leave-active{
        transition: opacity 0.5s;
    }
    &-enter,
    &-leave-to {
        opacity: 0;
    }
}

.fade-faster {
    &-enter-active,
    &-leave-active{
        transition: opacity 0.1s;
    }
    &-enter,
    &-leave-to {
        opacity: 0;
    }
}

.page-in {
    &-enter-active,
    &-leave-active{
        transition: 0.2s;
    }
    &-enter{
        opacity: 0;
        transform: scale(0.5);
    }
    &-leave-to {
        opacity: 0;
        transform: scale(1);
    }
}

.page-out {
    &-enter-active,
    &-leave-active{
        transition: 0.2s;
    }
    &-enter{
        opacity: 0;
        transform: scale(1);
    }
    &-leave-to {
        opacity: 0;
        transform: scale(0.5);
    }
}

/* /transition */