.form {
  &__wrapper {
    &--create-binder-left {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      width: 720px;
      margin-top: 16px;
      margin-bottom: 16px;
      display: grid;
      grid-gap: 8px;
      padding-right: 16px;
      border-right: 2px solid #b8b8b8;
    }
    &--create-binder-right {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      width: 400px;
      margin-top: 8px;
      margin-bottom: 16px;
      display: grid;
      grid-gap: 8px;
      padding-left: 16px;
    }
  }
}
