asn1crypto==0.24.0
certifi==2020.6.20
chardet==3.0.4
cryptography==2.6.1
entrypoints==0.3
idna==2.10
joblib==0.16.0
keyring==17.1.1
keyrings.alt==3.1.1
numpy==1.19.1
opencv-python==4.3.0.36
PixivPy==3.5.9
pycrypto==2.6.1
PyGObject==3.30.4
pyxdg==0.26
requests==2.24.0
requests-toolbelt==0.9.1
scikit-learn==0.23.2
scipy==1.5.2
SecretStorage==2.3.1
six==1.12.0
threadpoolctl==2.1.0
urllib3==1.25.10
